*
!requirements.txt
!requirements-language.txt
!LICENSE
!active_3dgs/
!active_3dgs/**
!active_3dgs_msgs/
!active_3dgs_msgs/**
!docker/
!docker/**
**/__pycache__/
**/*.pyc

!mpl_py/
!mpl_py/**
!diff-gaussian-rasterization-w-depth.git/
!diff-gaussian-rasterization-w-depth.git/**
!diff-gaussian-rasterization-multi/
!diff-gaussian-rasterization-multi/**
**/.git
**/.git/**
**/__pycache__/
**/*.pyc
**/build/
**/*.egg-info/
