__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
devel/
install/
.venv/
venv/
.env
experiments/
results/
log/
logs/
*.bag
*.pt
!active_3dgs/models/ipca_coco_indoor_24.pt
!active_3dgs/models/ipca_coco_outdoor_24.pt
*.pth
*.npz
*.log
